PORT=5000
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/social-app?retryWrites=true&w=majority
# MONGODB_URI=mongodb+srv://rajithsrr_db_user:mkknTWChh2agRv4f@cluster0.seiittf.mongodb.net/?appName=Cluster0&retryWrites=true&w=majority
# MONGODB_URI=mongodb+srv://rajithsrr_db_user:mkknTWChh2agRv4f@cluster0.seiittf.mongodb.net/social-app?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://rajith_test:test_rajith_v1@cluster0.seiittf.mongodb.net/?appName=Cluster0
JWT_SECRET=eef632624e388717a1510d6b7f007714d2b2a4bf29a96cbe7b916d274c615f603474fc0d58c66bf48ac9834ec7d0545d5a19bf559c271f6c88f2260b2e31ce61
JWT_EXPIRE=7d

# Cloudinary (for image uploads)
CLOUDINARY_CLOUD_NAME=docgu8q2d
CLOUDINARY_API_KEY=719675758934776
CLOUDINARY_API_SECRET=i-PhMttjs8mpuMJHQFYmLlAoVEQ

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
